h1{
    color: red;
}
.container{
    font-size: 16px;
    background-color: #d3d3d3;
}

footer {
    font-style: italic;
    color: green;
}
.highlight{
    font-weight: bold;
    color: blue;
}
#header{
    font-size: 14px;
    color:#ffffed;
}