body{
    display: flow-root;
}
nav{
    float: left;
    margin-right: 1rem;
}
 li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
article{
    position: absolute;
    top: 300px;
    left: 0px;
}
footer{
    background-color: grey;
    padding: 10px;
    margin: 30px;
}